@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ISEoelement>

@{
    Settings generalSettings = (Settings)Umbraco.ContentAtRoot().DescendantsOrSelfOfType("settings").FirstOrDefault();
    var imagePath = generalSettings.BaseUrl;

    var websiteName = generalSettings.WebsiteName;
    var favicon = generalSettings.Favicon;
    var faviconUrl = string.Empty;
    if (favicon != null)
    {
        faviconUrl = favicon.MediaItem.Url();
    }
    else if (!string.IsNullOrWhiteSpace(imagePath))
    {
        faviconUrl = $"{imagePath}/logo.png";
    }

    var seoTitle = Model.SEotitle;
    var seoDescription = Model.SEodescription;
}

<meta name="description" content="@seoDescription">
<title>@seoTitle @websiteName</title>
<link href="@faviconUrl" rel="icon" type="image/png">
